
DataAccess/bin/Debug/netcoreapp3.1/DataAccess.dll
DataAccess/bin/Debug/netcoreapp3.1/DataAccess.pdb
DataAccess/bin/Debug/netcoreapp3.1/Models.dll
DataAccess/bin/Debug/netcoreapp3.1/Models.pdb
DataAccess/bin/Release/netcoreapp3.1/DataAccess.deps.json
DataAccess/bin/Release/netcoreapp3.1/DataAccess.dll
DataAccess/bin/Release/netcoreapp3.1/DataAccess.pdb
DataAccess/bin/Release/netcoreapp3.1/Models.dll
DataAccess/bin/Release/netcoreapp3.1/Models.pdb
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.csproj.AssemblyReference.cache
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.csproj.CoreCompileInputs.cache
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.dll
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.pdb
DataAccess/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
DataAccess/obj/Release/netcoreapp3.1/_IsIncrementalBuild
DataAccess/obj/Release/netcoreapp3.1/DataAccess.AssemblyInfo.cs
DataAccess/obj/Release/netcoreapp3.1/DataAccess.AssemblyInfoInputs.cache
DataAccess/obj/Release/netcoreapp3.1/DataAccess.assets.cache
DataAccess/obj/Release/netcoreapp3.1/DataAccess.csproj.AssemblyReference.cache
DataAccess/obj/Release/netcoreapp3.1/DataAccess.csproj.CopyComplete
DataAccess/obj/Release/netcoreapp3.1/DataAccess.csproj.CoreCompileInputs.cache
DataAccess/obj/Release/netcoreapp3.1/DataAccess.csproj.FileListAbsolute.txt
DataAccess/obj/Release/netcoreapp3.1/DataAccess.dll
DataAccess/obj/Release/netcoreapp3.1/DataAccess.GeneratedMSBuildEditorConfig.editorconfig
DataAccess/obj/Release/netcoreapp3.1/DataAccess.pdb
Models/bin/Debug/netcoreapp3.1/Models.dll
Models/bin/Debug/netcoreapp3.1/Models.pdb
Models/bin/Release/netcoreapp3.1/Models.deps.json
Models/bin/Release/netcoreapp3.1/Models.dll
Models/bin/Release/netcoreapp3.1/Models.pdb
Models/obj/Debug/netcoreapp3.1/Models.dll
Models/obj/Debug/netcoreapp3.1/Models.pdb
Models/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Models/obj/Release/netcoreapp3.1/_IsIncrementalBuild
Models/obj/Release/netcoreapp3.1/Models.AssemblyInfo.cs
Models/obj/Release/netcoreapp3.1/Models.AssemblyInfoInputs.cache
Models/obj/Release/netcoreapp3.1/Models.assets.cache
Models/obj/Release/netcoreapp3.1/Models.csproj.AssemblyReference.cache
Models/obj/Release/netcoreapp3.1/Models.csproj.CoreCompileInputs.cache
Models/obj/Release/netcoreapp3.1/Models.csproj.FileListAbsolute.txt
Models/obj/Release/netcoreapp3.1/Models.dll
Models/obj/Release/netcoreapp3.1/Models.GeneratedMSBuildEditorConfig.editorconfig
Models/obj/Release/netcoreapp3.1/Models.pdb
DataAccess/bin/Debug/netcoreapp3.1/DataAccess.dll
DataAccess/bin/Debug/netcoreapp3.1/DataAccess.pdb
DataAccess/bin/Debug/netcoreapp3.1/Models.dll
DataAccess/bin/Debug/netcoreapp3.1/Models.pdb
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.csproj.AssemblyReference.cache
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.csproj.CoreCompileInputs.cache
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.dll
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.pdb
Models/bin/Debug/netcoreapp3.1/Models.dll
Models/bin/Debug/netcoreapp3.1/Models.pdb
Models/obj/Debug/netcoreapp3.1/Models.dll
Models/obj/Debug/netcoreapp3.1/Models.pdb
*.pdb
DataAccess/bin/Debug/netcoreapp3.1/DataAccess.dll
DataAccess/bin/Debug/netcoreapp3.1/DataAccess.dll
DataAccess/bin/Debug/netcoreapp3.1/DataAccess.pdb
DataAccess/bin/Debug/netcoreapp3.1/Models.dll
DataAccess/bin/Debug/netcoreapp3.1/Models.pdb
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.csproj.AssemblyReference.cache
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.csproj.CoreCompileInputs.cache
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.dll
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.pdb
Models/bin/Debug/netcoreapp3.1/Models.dll
Models/bin/Debug/netcoreapp3.1/Models.pdb
Models/obj/Debug/netcoreapp3.1/Models.dll
Models/obj/Debug/netcoreapp3.1/Models.pdb
*.cache
DataAccess/bin/Debug/netcoreapp3.1/DataAccess.dll
DataAccess/bin/Debug/netcoreapp3.1/DataAccess.pdb
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.csproj.AssemblyReference.cache
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.csproj.CoreCompileInputs.cache
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.dll
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.pdb
/DataAccess/bin/Debug/netcoreapp3.1/DataAccess.dll
/DataAccess/obj/Debug/netcoreapp3.1/DataAccess.csproj.AssemblyReference.cache
/DataAccess/obj/Debug/netcoreapp3.1/DataAccess.csproj.CoreCompileInputs.cache
/DataAccess/obj/Debug/netcoreapp3.1/DataAccess.dll
/DataAccess/obj/Debug/netcoreapp3.1/DataAccess.pdb
/DataAccess/bin/Debug/netcoreapp3.1/DataAccess.pdb
DataAccess/obj/DataAccess.csproj.nuget.dgspec.json
DataAccess/bin/Debug/netcoreapp3.1/DataAccess.deps.json
DataAccess/obj/DataAccess.csproj.nuget.g.props
DataAccess/obj/DataAccess.csproj.nuget.g.targets
DataAccess/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
DataAccess/obj/Debug/netcoreapp3.1/_IsIncrementalBuild
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.AssemblyInfo.cs
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.csproj.CopyComplete
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.csproj.FileListAbsolute.txt
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.GeneratedMSBuildEditorConfig.editorconfig
DataAccess/obj/project.assets.json
Mailing/bin/Debug/netcoreapp3.1/Mailing.deps.json
Mailing/bin/Debug/netcoreapp3.1/Mailing.dll
Mailing/bin/Debug/netcoreapp3.1/Models.dll
Mailing/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Mailing/obj/Debug/netcoreapp3.1/_IsIncrementalBuild
Mailing/obj/Debug/netcoreapp3.1/Mailing.AssemblyInfo.cs
Mailing/obj/Debug/netcoreapp3.1/Mailing.csproj.CopyComplete
Mailing/obj/Debug/netcoreapp3.1/Mailing.csproj.FileListAbsolute.txt
Mailing/obj/Debug/netcoreapp3.1/Mailing.dll
Mailing/obj/Debug/netcoreapp3.1/Mailing.GeneratedMSBuildEditorConfig.editorconfig
Mailing/obj/Mailing.csproj.nuget.dgspec.json
Mailing/obj/Mailing.csproj.nuget.g.props
Mailing/obj/Mailing.csproj.nuget.g.targets
Mailing/obj/project.assets.json
Models/bin/Debug/netcoreapp3.1/Models.deps.json
Models/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Models/obj/Debug/netcoreapp3.1/_IsIncrementalBuild
Models/obj/Debug/netcoreapp3.1/Models.AssemblyInfo.cs
Models/obj/Debug/netcoreapp3.1/Models.csproj.FileListAbsolute.txt
Models/obj/Debug/netcoreapp3.1/Models.GeneratedMSBuildEditorConfig.editorconfig
Models/obj/Models.csproj.nuget.dgspec.json
Models/obj/Models.csproj.nuget.g.props
Models/obj/Models.csproj.nuget.g.targets
Models/obj/project.assets.json
