
DataAccess/bin/Debug/netcoreapp3.1/DataAccess.dll
DataAccess/bin/Debug/netcoreapp3.1/DataAccess.pdb
DataAccess/bin/Debug/netcoreapp3.1/Models.dll
DataAccess/bin/Debug/netcoreapp3.1/Models.pdb
DataAccess/bin/Release/netcoreapp3.1/DataAccess.deps.json
DataAccess/bin/Release/netcoreapp3.1/DataAccess.dll
DataAccess/bin/Release/netcoreapp3.1/DataAccess.pdb
DataAccess/bin/Release/netcoreapp3.1/Models.dll
DataAccess/bin/Release/netcoreapp3.1/Models.pdb
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.csproj.AssemblyReference.cache
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.csproj.CoreCompileInputs.cache
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.dll
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.pdb
DataAccess/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
DataAccess/obj/Release/netcoreapp3.1/_IsIncrementalBuild
DataAccess/obj/Release/netcoreapp3.1/DataAccess.AssemblyInfo.cs
DataAccess/obj/Release/netcoreapp3.1/DataAccess.AssemblyInfoInputs.cache
DataAccess/obj/Release/netcoreapp3.1/DataAccess.assets.cache
DataAccess/obj/Release/netcoreapp3.1/DataAccess.csproj.AssemblyReference.cache
DataAccess/obj/Release/netcoreapp3.1/DataAccess.csproj.CopyComplete
DataAccess/obj/Release/netcoreapp3.1/DataAccess.csproj.CoreCompileInputs.cache
DataAccess/obj/Release/netcoreapp3.1/DataAccess.csproj.FileListAbsolute.txt
DataAccess/obj/Release/netcoreapp3.1/DataAccess.dll
DataAccess/obj/Release/netcoreapp3.1/DataAccess.GeneratedMSBuildEditorConfig.editorconfig
DataAccess/obj/Release/netcoreapp3.1/DataAccess.pdb
Models/bin/Debug/netcoreapp3.1/Models.dll
Models/bin/Debug/netcoreapp3.1/Models.pdb
Models/bin/Release/netcoreapp3.1/Models.deps.json
Models/bin/Release/netcoreapp3.1/Models.dll
Models/bin/Release/netcoreapp3.1/Models.pdb
Models/obj/Debug/netcoreapp3.1/Models.dll
Models/obj/Debug/netcoreapp3.1/Models.pdb
Models/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Models/obj/Release/netcoreapp3.1/_IsIncrementalBuild
Models/obj/Release/netcoreapp3.1/Models.AssemblyInfo.cs
Models/obj/Release/netcoreapp3.1/Models.AssemblyInfoInputs.cache
Models/obj/Release/netcoreapp3.1/Models.assets.cache
Models/obj/Release/netcoreapp3.1/Models.csproj.AssemblyReference.cache
Models/obj/Release/netcoreapp3.1/Models.csproj.CoreCompileInputs.cache
Models/obj/Release/netcoreapp3.1/Models.csproj.FileListAbsolute.txt
Models/obj/Release/netcoreapp3.1/Models.dll
Models/obj/Release/netcoreapp3.1/Models.GeneratedMSBuildEditorConfig.editorconfig
Models/obj/Release/netcoreapp3.1/Models.pdb
DataAccess/bin/Debug/netcoreapp3.1/DataAccess.dll
DataAccess/bin/Debug/netcoreapp3.1/DataAccess.pdb
DataAccess/bin/Debug/netcoreapp3.1/Models.dll
DataAccess/bin/Debug/netcoreapp3.1/Models.pdb
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.csproj.AssemblyReference.cache
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.csproj.CoreCompileInputs.cache
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.dll
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.pdb
Models/bin/Debug/netcoreapp3.1/Models.dll
Models/bin/Debug/netcoreapp3.1/Models.pdb
Models/obj/Debug/netcoreapp3.1/Models.dll
Models/obj/Debug/netcoreapp3.1/Models.pdb
*.pdb
DataAccess/bin/Debug/netcoreapp3.1/DataAccess.dll
DataAccess/bin/Debug/netcoreapp3.1/DataAccess.dll
DataAccess/bin/Debug/netcoreapp3.1/DataAccess.pdb
DataAccess/bin/Debug/netcoreapp3.1/Models.dll
DataAccess/bin/Debug/netcoreapp3.1/Models.pdb
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.csproj.AssemblyReference.cache
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.csproj.CoreCompileInputs.cache
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.dll
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.pdb
Models/bin/Debug/netcoreapp3.1/Models.dll
Models/bin/Debug/netcoreapp3.1/Models.pdb
Models/obj/Debug/netcoreapp3.1/Models.dll
Models/obj/Debug/netcoreapp3.1/Models.pdb
*.cache
DataAccess/bin/Debug/netcoreapp3.1/DataAccess.dll
DataAccess/bin/Debug/netcoreapp3.1/DataAccess.pdb
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.csproj.AssemblyReference.cache
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.csproj.CoreCompileInputs.cache
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.dll
DataAccess/obj/Debug/netcoreapp3.1/DataAccess.pdb
